[Unit]
Description=Jynx.dev Webhooks
After=network.target

[Service]
Type=exec
ExecStart=/usr/local/sbin/jynx.dev/webhooks
User=jynx
Group=jynx
Restart=on-failure

[Install]
WantedBy=default.target
